flows.json
[{"id":"48e9eb65.b644d4","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"c6ef60a6.c1349","type":"inject","z":"48e9eb65.b644d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"EjeX,700.56,EjeY,700.57,EjeZ,700.58,temp_data,41.54,pres_data,2010.23,humd_data,90.0,alerta,1,","payloadType":"str","x":310,"y":140,"wires":[["453dca11.846bc4"]]},{"id":"d1e2d942.68b548","type":"debug","z":"48e9eb65.b644d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":540,"y":400,"wires":[]},{"id":"453dca11.846bc4","type":"mqtt out","z":"48e9eb65.b644d4","name":"","topic":"1/sensor","qos":"1","retain":"","broker":"23bbf61a.62bbca","x":540,"y":140,"wires":[]},{"id":"be67642f.8f85a8","type":"debug","z":"48e9eb65.b644d4","name":"","active":true,"tosidebar":true,"console":true,"tostatus":true,"complete":"payload","targetType":"msg","statusVal":"payload","statusType":"auto","x":540,"y":480,"wires":[]},{"id":"2942f76e.1c7b68","type":"inject","z":"48e9eb65.b644d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"EjeX,80,EjeY,80.,EjeZ,80,temp_data,41.54,pres_data,2010.23,humd_data,80","payloadType":"str","x":310,"y":180,"wires":[["7828bfb6.6cc94"]]},{"id":"7828bfb6.6cc94","type":"mqtt out","z":"48e9eb65.b644d4","name":"","topic":"1/sensor","qos":"1","retain":"","broker":"23bbf61a.62bbca","x":540,"y":180,"wires":[]},{"id":"ba660eb8.3667d","type":"inject","z":"48e9eb65.b644d4","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"EjeX,70,EjeY,70.,EjeZ,70,temp_data,41.54,pres_data,2010.23,humd_data,50","payloadType":"str","x":310,"y":220,"wires":[["cb56a56f.2a8768"]]},{"id":"cb56a56f.2a8768","type":"mqtt out","z":"48e9eb65.b644d4","name":"","topic":"1/sensor","qos":"1","retain":"","broker":"23bbf61a.62bbca","x":540,"y":220,"wires":[]},{"id":"9cbbe117.cfeaa","type":"mqtt in","z":"48e9eb65.b644d4","name":"","topic":"1/sensor","qos":"1","datatype":"auto","broker":"23bbf61a.62bbca","x":280,"y":400,"wires":[["d1e2d942.68b548"]]},{"id":"ecfc0c6b.079b6","type":"amqp in","z":"48e9eb65.b644d4","name":"","topic":"","iotype":"4","ioname":"alerta","server":"c2490f97.71c4f","x":270,"y":480,"wires":[["be67642f.8f85a8"]]},{"id":"23bbf61a.62bbca","type":"mqtt-broker","name":"","broker":"52.22.75.246","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"c2490f97.71c4f","type":"amqp-server","host":"rabbit","port":"5672","vhost":"","keepalive":"30","usetls":false,"verifyservercert":true,"useca":false,"ca":"","usetopology":false,"topology":"{\n\t\"exchanges\": [\n\t\t{\"name\": \"exchange1\", \"type\": \"direct\", \"options\": {\"durable\": false}},\n\t\t{\"name\": \"exchange2\"}\n\t],\n\t\"queues\": [\n\t\t{\"name\": \"queue1\", \"options\": {\"messageTtl\": 60000}},\n\t\t{\"name\": \"queue2\"}\n\t],\n\t\"bindings\": [\n\t\t{\"source\": \"exchange1\", \"queue\": \"queue1\", \"pattern\": \"debug\", \"args\": {}},\n\t\t{\"source\": \"exchange1\", \"exchange\": \"exchange2\", \"pattern\": \"error\"},\n\t\t{\"source\": \"exchange2\", \"queue\": \"queue2\"}\n\t]\n}","prefetch":false,"prefetchvalue":"1","prefetchack":false,"prefetchvalueack":"10"}]